{% extends 'base.html' %}

{% block title %}
  Alpha Taji Solutions | Faq
{% endblock %}

{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/faq.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
  <body id="body">
    <div class="section-center">
      <h4 id="faq">faq</h4>
      <hr id="hr">
      <article class="question">
        <div class="question-title">
          <h4 id="title">how do i join the sacco</h4>
          <button type="button" id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Download the membership application form here , attach your passport photo, copy of ID and a copy of KRA pin certificate. You will also need to be introduced by a Member of the Sacco.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">is there a minimum contribution fee</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Yes, the Minimum Monthly Contribution is Kes.3,000.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">for how long should i save in order to qualify for a loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            You need to save consistently for at least 6 months.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">how long do yo take to process a loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            This varies on the type of loan a member is borrowing: The processing period for a long term loan is within 2 weeks while that of short term loan is within an hour.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">what type of security do i need when applying for a loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            You need to have a Guarantor if borrowing over and above your savings. Currently, the Sacco has also opened up to other forms of security e.g. Tittle Deeds, Logbooks.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">what documentation do i need when apllying for a loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            You need to Complete filling in a loan application form (Downloadable from our Website) , attach copy of ID ,latest certified payslip (If on Check off arrangement).<br>For those not on check off arrangement with the Sacco present latest certified Bank Statement/s for 3 Months.<br>
            This applies to all type of loans Short /Long term loans
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">how many Guarantor do i need to guarantee my loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            You may have even one although the loan MUST be fully Guaranteed
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">what is the ratio od saving to loan borrowing</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            The ratio is 1:3 , meaning your total Sacco loans should not exceed 3 times of your saving
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">can i pay my loan in lumpsum or will i be charged extra</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Yes you can pay your loan in lumpsum repayment/s anytime. We do not penalize you for fast tracking your loan repayment
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">if i guarantee someone am i eligible to borrow a loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Yes you can borrow a loan as the maximum you can guarantee is up to 10 times your total savings.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">if interested in a household item/s can i pay cash instead of a loan</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Yes, you deposit the cash into your FOSA account then we process an LPO as you enjoy the discounted rates from our selected vendors.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">can i change next of kin</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Yes you can by filling in a next of kin update form.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">what is the process of terminating membership from the sacco</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr id="hr">
          <p>
            The notice period is 60 days to enable the Sacco align your account i.e. If you had guaranteed someone, they will need to find replacements in order to release you.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">can i cover my kids below the age of 1 month</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Cover is for kids of age 1 month onwards.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">i have more than 1 spouse, can the additional be covered</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            In the case of one OR more spouse but without kids and parents to cover, this
            can be covered by filling in details in one form but charges for additional spouse apply
            as under:<br>
            Option 1 benefit – Kes 900<br>
            Option 2 benefit – Kes 1,800<br>
            Option 3 benefit – Kes 2,700<br>
            Option 4 benefit – Kes 3,500
            <br>
            In the case of one more spouse with kids and parents to cover, this can be covered
            by filling in details in another form. We treat this as another household and full option
            charges apply with the Principal member being “premium sponsor.”<br>
            In case of loss of any life in this household, benefits shall be paid to the sponsor. Loss of
            sponsor shall be paid in both households but subject to a limit of Kes 750,000.
          </p>
        </div>
      </article>
      <article class="question">
        <div class="question-title">
          <h4 id="title">if i have more than 4 children can the addition be covered</h4>
          <button id="btn">
            <span id="plus-icon">+</span>
            <span id="cross-icon">x</span>
          </button>
        </div>
        <div class="question-text">
          <hr>
          <p>
            Yes. Charges are;<br>
            Option 1 benefit – Kes 200<br>
            AT2 – Alpha Taji Internal<br>
            Option 2 benefit – Kes 500<br>
            Option 3 benefit – Kes 800<br>
            Option 4 benefit – Kes 1,100
          </p>
        </div>
      </article>
    </div>
    <div class="footer">
      <h4>Copyright &copy; ALPHA TAJI SOLUTIONS LTD 2021. All Rights Reserved</h4>
    </div>
    <script src="{{ url_for('static', filename='js/faq.js') }}"></script>
  </body>
{% endblock %}
