{% extends 'base.html' %}

{% block title %}
  Alpha Taji Solutions | Home
{% endblock %}

{% block head %}
{{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ballet&family=Reggae+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
{% endblock %}

{% block content %}
  <a id="links" href="{{ url_for('about') }}">ABOUT US</a>
  <a id="links" href="{{ url_for('services') }}">SERVICES</a>
  <a id="links" href="{{ url_for('contact') }}">CONTACT</a>
  <a id="links" href="{{ url_for('faq') }}">FAQ</a>
{% endblock %}

{% block body %}
  <body id="body">
    <div class="container-1">
      <div id="content">
        <h1 id="heading">ALPHA TAJI SOLUTIONS</h1>
        <p id="tagline">Redefining the loan system</p>
        <a href="{{ url_for('services') }}#choose"><button id="btn">Learn more</button></a>
      </div>
    </div>
    <div class="container-2">
      <div class="overlay">
        <h4 id="people">Find out why people choose us</h4>
        <a href="{{ url_for('about') }}#choose"><button id="btn">Explore</button></a>
      </div>
    </div>
    <div class="video">
      <video loop autoplay>
        <source src="../static/styles/images/video.mp4" type="video/mp4">
      </video>
    </div>
    {% if current_user.is_authenticated %}
    <div class="subscribe">
      <div class="box1">
        <h4 id="subscribe">Our news letter will be sent to your email</h4>
      </div>
    </div>
    {% else %}
    <div class="subscribe">
      <div class="box1">
        <h4 id="subscribe">Subscribe to our newsletter by becoming a member</h4>
        <button id="button">
          <a href="{{ url_for('signup') }}">SUBSCRIBE</a>
        </button>
      </div>
    </div>
    {% endif %}
    <Script src="{{ url_for('static', filename='js/index.js') }}"></Script>
{% endblock %}

{% block footer %}
  <button class="top"><a href="#body">^</a></button>
{% endblock %}