{% extends 'base.html' %}

{% block title %}
  Alpha Taji Solutions | Sign Up
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signup.css') }}">
{% endblock %}

{% block body %}
<body>
  <h4 id="heading">SIGN UP</h4>
  <div class="container-1">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div id="form">
        {{ form.first_name(placeholder="Enter first name") }}
        <br>
        {{ form.second_name(placeholder="Enter second name") }}
        <br>
        {{ form.last_name(placeholder="Enter last name") }}
        <br>
        {{ form.email_address(placeholder="Enter Email Address") }}
        <br>
        {{ form.phone_number(placeholder="Enter Phone Number") }}
        <br>
        {{ form.username(placeholder="Enter Username") }}
        <br>
        {{ form.password(placeholder="Enter Passoword") }}
        <br>
        {{ form.password1(placeholder="Confirm your password") }}
        <br>
        <button class="btn" type="submit">
          <span class="button--text">SIGN UP</span>
        </button>
      </div>
    </form>
  </div>
  <div class="box">
    <p id="text">If already a member proceed to login</p>
    <a id="link" href="{{ url_for('login')}}">Login</a>
  </div>
  <div class="footer">
    <h4>Copyright &copy; ALPHA TAJI SOLUTIONS LTD 2021. All Rights Reserved</h4>
  </div>
  <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>
{% endblock %}
