<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/team.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ballet&family=Reggae+One&display=swap" rel="stylesheet">
    <title>Alpha Taji Solutions | Management Team</title>
  </head>
  <body>
    <div class="nav">
      <a href="{{ url_for('index') }}"><img id="image" src="../static/styles/Images/logo1.png"></a>
    </div>
    <h1 id="heading">MANAGEMENT TEAM</h1>
      <hr id="hr">
      <p id="text">The Management Staff are charged with the responsibility of running the daily activities of the sacco. This team implements the policies and guidelines set up by the Board of Directors.</p>
    <div class="container">
      <div class="team-1">
        <img class="image" src="../static/styles/Images/sophie headshot.png">
        <div class="title">
          <h4 id="name">SOPHIE MUTUA</h4>
          <hr>
          <p id="title">CEO</p>
        </div>
      </div>
      <div class="team-1">
        <img class="image" src="../static/styles/Images/bush headshot.png">
        <div class="title">
          <h4 id="name">IAN BUSHEBI</h4>
          <hr>
          <p id="title">CFO</p>
        </div>
      </div>
      <div class="team-1">
        <img class="image" src="../static/styles/Images/gladys headshot.png">
        <div class="title">
          <h4 id="name">GLADYS MUTHEU</h4>
          <hr>
          <p id="title">HR MANAGER</p>
        </div>
      </div>
      <div class="team-1">
        <img class="image" src="../static/styles/Images/reagan headshot.png">
        <div class="title">
          <h4 id="name">REAGAN NZIOLE</h4>
          <hr>
          <p id="title">LOAN OFFICER</p>
        </div>
      </div>
      <div class="team-1">
        <img class="image" src="../static/styles/Images/theuri headshot.png">
        <div class="title">
          <h4 id="name">REUEL THEURI</h4>
          <hr>
          <p id="title">CREDIT MANAGER</p>
        </div>
      </div>
      <div class="team-1">
        <img class="image" src="../static/styles/Images/kagwima2_headshot.png">
        <div class="title">
          <h4 id="name">KEVIN KAGWIMA</h4>
          <hr>
          <p id="title">ICT MANAGER</p>
        </div>
      </div>
      <div class="team-1">
        <img class="image" src="../static/styles/Images/sabina headshot.png">
        <div class="title">
          <h4 id="name">SABINA JOSEPH</h4>
          <hr>
          <p id="title">AUDIT MANAGER</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <h4>Copyright &copy; ALPHA TAJI SOLUTIONS LTD 2021. All Rights Reserved</h4>
    </div>
  </body>
</html>
