body {
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  margin-left: -8px;
  width: 100vw;
  background: rgb(255, 255, 255);
}

#image {
  height: 4rem;
  width: 20rem;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13vw;
}

.burger {
  display: none;
}

.burger > div {
  height: 3px;
  width: 25px;
  background-color: rgb(6, 216, 16);
  margin: 5.2px;
}

#sign-up {
  background: rgb(243, 239, 2);
  padding: 5px;
  width: 6vw;
  border: 2px solid rgb(6, 2, 243);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

#sign-in {
  background: rgb(2, 243, 2);
  padding: 5px;
  width: 6vw;
  border: 2px solid rgb(6, 2, 243);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: ease-in;
}

.user > button:hover {
  transform: scale(1.05);
}

#btn-link {
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 13vw;
  background: transparent;
  cursor: pointer;
}

.img {
  height: 8vh;
  width: 6vw;
}

#login-username {
  font-size: 18px;
  letter-spacing: 2px;
  margin-left: -20px;
  font-family: monospace;
  color: rgb(0, 165, 0);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 120px;
  height: 5vh;
  width: 20vw;
  right: 0;
  visibility: hidden;
  background-color: #212121c2;
  transition-timing-function: ease-in;
  transition: 0.2s;
  border-radius: 5px;
}

.profile:hover {
  background: #212121;
}

.profile a {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(2, 243, 2);
}

.show-profile {
  visibility: visible;
}

.footer {
  display: flex;
  background-color: rgb(2, 28, 77);
  height: 80px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  margin-right: -8px;
  margin-left: -8px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

.tops {
  margin-top: 64px;
  margin-bottom: -50px;
  margin-left: -10px;
  width: 100vw;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  #image {
    width: 18rem;
    height: 4rem;
    margin-left: -10px;
  }

  .img {
    width: 5rem;
    margin-left: 20px;
  }

  .links, .user {
    position: absolute;
    border-radius: 0px;
    right: 0;
    display: flex;
    background-color: aliceblue;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .links {
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    top: 63px;
  }

  .user {
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    width: 50vw;
    top: 64.8px;
  }

  #sign-up {
    width: 100px;
  }

  #sign-in {
    width: 100px;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-left: 30px;
  }

  .footer > h4 {
    text-align: center;
  }

  .nav-active {
    transform: translateX(0%);
  }
}
