html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: -5px;
}

.login {
  margin-left: 50rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  margin-left: -8px;
  box-shadow: 0px 3px 20px -1px rgb(233, 218, 6);
  width: 100%;
  background: rgb(255, 255, 255);
}

#image {
  height: 4rem;
  width: 20rem;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#image:hover {
  transform: scale(.9, .9);
}

#heading {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: green;
}

#text {
  color: black;
  font-size: 20px;
  font-family: monospace;
}

.container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
}

.team-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  width: 40vw;
  height: 30vh;
  box-shadow: 0px 3px 20px -10px rgb(0, 38, 255);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.team-1:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 20px -8px rgb(255, 0, 0);
}

#hr {
  width: 50vw;
}

hr {
  width: 15vw;
}

.image {
  height: 14.9rem;
}

.title {
  text-align: center;
}

#name {
  color: red;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
  color: green;
  letter-spacing: 2px;
}

.footer {
  margin-top: 30px;
  display: flex;
  background-color: rgb(2, 28, 77);
  height: 80px;
  color: rgb(255, 255, 255);
  justify-content: space-evenly;
  align-items: center;
  margin-right: -8px;
  margin-left: -8px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  #text {
    margin-left: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: auto;
  }

  .team-1 {
    width: 90vw;
  }

  .footer > h4 {
    text-align: center;
  }
}
